{% extends "base.html" %}

{% block body %}

<body class="grid">
    <div class="top-bar">
        <h1 class="logo">PassGrid</h1>
    </div>
    <div id="grid">
        <div class="row">
            <div class="block block11"></div>
            <div class="block block12"></div>
            <div class="block block13"></div>
            <div class="block block14"></div>
        </div>
        <div class="row">
            <div class="block block21"></div>
            <div class="block block22"></div>
            <div class="block block23"></div>
            <div class="block block24"></div>
        </div>
        <div class="row">
            <div class="block block31"></div>
            <div class="block block32"></div>
            <div class="block block33"></div>
            <div class="block block34"></div>
        </div>
        <div class="row">
            <div class="block block41"></div>
            <div class="block block42"></div>
            <div class="block block43"></div>
            <div class="block block44"></div>
        </div>
    </div>

    <div class="footer">
        <a href="" id="externalLink">Install in secure app</a>
      
        <p>We <3 Iron Hacker 2012!</p>
    </div>
{% endblock %}

{% block scripts %}
<!-- Included JS Files (Uncompressed) -->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script>TOKEN = {{ token }}</script>
    <script src="/static/js/mobile.js"></script>
    <script>
        $(document).ready(function() {
            $('#signIn').click(function() {
              $('#pg-iframe').show();
              return false;
            });
            window.scrollTo(0,0);
            $('#externalLink').attr("href", "passgrid://"+TOKEN);
        });
    </script>

{% endblock %}
